# (Required) Minecraft version.
# Sets the Minecraft server version. If REPO variable is empty, this is used to get the correct Forge MDK files.
MC_VERSION=
# (Required) Forge version.
# Sets the Minecraft server Forge version. If REPO variable is empty, this is used to get the correct Forge MDK files.
FORGE_VERSION=